.content {
    padding: 0 20px;
}

h1, h2 {
    font-size: 2em;
    
}

.heading__dark-mode {
    color: #e5e3e7;
}

.paragraphs {
    margin-bottom: 30px;
}

.paragraphs__dark-mode {
    color: #e5e3e7;
}